<% layout('layouts/boilerplate')%>
<h1>Update organization</h1>
<form action="/organizations/<%=organization._id%>?_method=PUT" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id ="name" name="organization[name]" value="<%=organization.name%>">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id ="location" name="organization[location]", value="<%=organization.location%>">
    </div>
    <button>Update Organization</button>
</form>
<a href="/organizations/<%= organization._id %>">Back to organization</a>