<% layout('layouts/boilerplate')%>
<h1>All organizations</h1>
<div>
    <a href="/organizations/new">Add Organization</a>
</div>
<ul>
    <% for (let organization of organizations) {%>
        <li>
            <a href="/organizations/<%= organization._id %>"> <%= organization.name %> </a>
        </li>
    <% }%>
</ul>