<% layout('layouts/boilerplate')%>
<form action="/organizations" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id ="name" name="organization[name]">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id ="location" name="organization[location]">
    </div>
    <button>Add Organization</button>
</form>